* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 322px;
  margin: 100px auto;
  border: 1px solid black;
}

button {
  width: 75px;
  height: 75px;
  font-size: 20px;
}

.container-7 > button {
  width: 154px;
}

.container-1 {
  text-align: right;
  height: 41px;
  font-size: 18px;
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.container-2 {
  text-align: right;
  font-size: 32px;
  padding: 10px 0;
}

.container > div {
  margin: 4px;
}
