* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  max-width: 960px;
  margin: 10px auto 30px auto;
  text-align: center;
}
.drawing-bord {
  max-width: 960px;
  margin: 10px auto;

  display: flex;
  flex-wrap: wrap;
}

/* .card-pixel {
  width: 60px;
  height: 60px;
  border: 1px solid black;
} */
